// place your custom styles here

// 自定义heroText渐变颜色
#main-title {
  background: linear-gradient(90deg, #8baaf0 0%, #a2d9f5 100%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: transparent !important;
}

// 首页头像圆形
.vp-hero-info img ,.vp-navbar-start img{
  border-radius: 50%;
}

// 自定义 TOC 样式
.vp-toc-list {
  .level1 {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .level2 {
    padding-left: 12px;
  }

  
}




